.tab {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: fit-content;
  margin-top: 2vh;

  a {
    text-decoration: none;
    font-size: 2vw;
    color: black;
  }
}
.tab2 {
  width: 15vw;
  height: 5vh;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2),
    0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
  a {
    background-color: #ff932f;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    height: 5vh;
  }
}
.tab2:hover {
  box-shadow: 0 0 5px black;
}

.tab1 {
  width: 15vw;
  height: 5vh;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2),
    0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
  a {
    background-color: rgba(255, 147, 47, 0.4);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    height: 5vh;
  }
}
.tab1:hover {
  box-shadow: 0 0 5px black;
}

.body {
  height: 85vh;
  background-color: #fff;
  display: flex;
  justify-content: space-around center;
  align-items: center;
  overflow-y: scroll;
}

.body__left,
.body__right {
  height: 95%;
  width: 95%;
  flex: 5;
  margin: 12px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.body__right {
  flex: 4;
}

.inverter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  flex: 2;
  box-shadow: 2px 2px 6px #333;
  border-radius: 12px;
}
.plc1 {
  display: flex;
  margin-bottom: 8px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  flex: 1;
  box-shadow: 2px 2px 6px #333;
  border-radius: 12px;
}
.plc2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 2px 2px 6px #333;
  border-radius: 12px;
}

//-------------------------------Inverter Motor---------------------------------------------

.inverter {
  h1 {
    padding: 0;
    margin: 0;
    margin-top: 16px;
    font-size: 32px;
  }

  .btn {
    height: 60px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button {
      font-size: 20px;
      height: 35px;
      font-weight: 600;
      border: none;
      width: 80px;
      border-radius: 16px;
      color: #000;
      &:nth-child(1) {
        background-color: #fc891d;
        &:hover {
          background-color: rgba(255, 147, 47, 0.8);
        }
      }
      &:nth-child(2) {
        background-color: #fc891d;
        &:hover {
          background-color: rgba(255, 147, 47, 0.8);
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  .info {
    margin-top: 16px;
    margin-bottom: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .info__direction,
    .info__status {
      margin: 0 16px 0 16px;
      height: 80px;
      width: 150px;
      background-color: #fff;
      box-shadow: 2px 2px 6px #333;
      border-radius: 12px;
    }

    .info__direction {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      div {
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        .wrap-icon {
          width: 36px;
          height: 36px;
          background-color: #fc891d;
          margin: 0 4px;
          border-radius: 40px;
          &:hover {
            cursor: pointer;
            background-color: rgba(255, 147, 47, 0.8);
          }
        }
        .current-direction {
          background-color: #fc891d;
        }
        .direction-icon {
          font-size: 26px;
          color: #fff;
        }
      }
    }
    .info__status {
      text-align: center;
      div {
        margin-top: 12px;
        display: flex;
        justify-content: center;
        .stt-on,
        .stt-off {
          width: 40px;
          height: 40px;
          background-color: #a6a3a3;
          margin: 0 6px;
          border-radius: 40px;
        }
        .ledOn {
          background-color: #15d856;
        }
        .ledOff {
          background-color: red;
        }
      }
    }

    .info__param {
      margin: 0 16px 0 16px;
      height: 80px;
      width: 150px;
      background-color: #fff;
      box-shadow: 2px 2px 6px #333;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border-radius: 12px;

      button {
        background-color: #ff932f;
        width: 24px;
        height: 18px;
        font-size: 12px;
        border-radius: 4px;
        font-weight: 600;
        position: relative;
        left: 10px;
        &:hover {
          cursor: pointer;
          background-color: rgba(255, 147, 47, 0.8);
        }
      }
      .value__current {
        line-height: 28px;
        width: 60px;
        height: 28px;
        font-size: 16px;
        text-align: center;
        transform: translateX(15px);
      }
    }
  }
}
.plc1 {
  .plc1-body {
    display: flex;
    .plc1-body-SW,
    .plc1-body-vol {
      flex: 5;
      display: flex;
      margin: 8px 8px 0 8px;
      height: 15vh;
      width: 20vw;
      border: 1px solid #333;
      border-radius: 8px;
      box-shadow: 2px 2px 6px #666666;
    }
    .plc1-body-vol {
      flex: 3;
      flex-direction: column;
      align-items: center;
      padding: 4px;
      justify-content: space-around;
      span {
        font-size: 22px;
      }
    }
    .plc1-body-SW {
      flex-direction: column;
      align-items: center;
      .body-SW {
        margin: 2px 0 6px 0;
        scale: 1.1;
      }
    }
  }
}

//-------------------------------PLC2---------------------------------------------
.plc2 {
  h1 {
    margin: 0;
    margin-top: 16px;
    padding: 0;
  }
  .btn {
    height: 50px;
    width: 400px;
    display: flex;
    margin-top: 0;
    margin-bottom: 6px;
    justify-content: space-around;
    align-items: center;
    button {
      font-size: 20px;
      height: 35px;
      font-weight: 600;
      border: none;
      width: 80px;
      border-radius: 16px;
      color: #000;
      &:nth-child(1) {
        background-color: #fc891d;
        &:hover {
          background-color: rgba(255, 147, 47, 0.8);
        }
      }
      &:nth-child(2) {
        background-color: #fc891d;
        &:hover {
          background-color: rgba(255, 147, 47, 0.8);
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .plc2__stt,
  .plc2__SW {
    scale: 1.2;
    margin: 8px 0 8px 0;
  }
  .plc2__SW {
    margin-bottom: 4vh;
  }

  .plc2__input {
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    box-shadow: 2px 2px 5px #666666;
    border: 1px solid #666666;
    margin-bottom: 12px;
  }

  .plc2__input {
    height: 150px;
    width: 26vw;
    display: flex;
    .input-param {
      width: 19vw;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .info-input-title {
        display: inline-block;
        min-width: 8vw;
        margin: 16px 12% 0 5%;
      }
    }
    button {
      margin: auto;
      width: 70px;
      height: 30px;
      background-color: #ff932f;
      font-weight: 600;
      font-size: 12px;
      border-radius: 14px;
      &:hover {
        cursor: pointer;
        background-color: rgba(255, 147, 47, 0.8);
      }
    }
  }
}
