.tittle{
    background-color: #FF932F;
    height: 8vh;
    width: 100vw;
    display: flex;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
    a{
        font-size: 2.5vw;
        color: black;
        width: 50px;
        height: 100%; 
        padding: 10px 5px;
    }
    
    span{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.5vw;
    }
}