.inverter{
   position: relative;
    width: 46vw;
    height: 40vh;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
    border-radius: 10px;
    h1{
        text-align: center;
        font-size: 2vw;
        font-family: 'Poppin', sans-serif;
    }
    h2{
        text-align: center;
        font-size: 1.2vw;
    }
    span,button{
        font-size: 1vw;
    }
    
    .wait{
        font-size: 1.2vw;
        border-bottom: 0.5px solid black;
        font-weight: 600;
    }
    .status{
        position: absolute;
        top:10vh;
        left: 1vw;
        width: 12vw;
        height: 15vh;
        border-radius: 10px;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
        .button1{
            display: flex;
            justify-content: center;
            gap: 1vw;
            margin-top: 1vh;
        }
        .stbutton{
            display: flex;
            justify-content: center;
            gap: 1.8vw;
            margin-top: 1vh;
        }
    }
    .direction{
        position: absolute;
        top:10vh;
        left: 14vw;
        width: 12vw;
        height: 15vh;
        border-radius: 10px;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
        .button2{
            margin-top: 10px;
            margin-left: 20px;
            display: flex;
            justify-content: center;
            gap:3vw;
        }
        .stbutton{
            display: flex;
            justify-content: center;
            gap: 4vw;
            margin-top: 1vh;
        }
    }
    .motor{
        position: absolute;
        top:10vh;
        right: 1vw;
        width: 18vw;
        height: 15vh;
        border-radius: 10px;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
        .content{
            input{
                width: 4vw;
            }
            display: flex;
            gap: 3.5vw;
            text-align: center;
            margin-left: 0.5vw ;
        }
        .speed{
            margin-top: 10px;
            text-align: center;
        }
    }
    .buttonInput{
        height: 2.5vh;
        width: 2vw;
        margin-left: 0.5vw;
        background-color: #FF932F;
        border-radius: 0.5vw;
        &:hover{
            cursor: pointer;
            background-color: rgb(255, 155, 0, 0.6)
        }
    }
}